body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #130468ec;
}
#container-formulario {
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
#formulario {
  height: 500px;

  width: 400px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: black;
}
#formulario > h2,
p,
a {
  background: black;
}
input {
  font-size: 1.4rem;
  background: white;
}
a {
  width: 100%;

  margin-top: 20px;
  cursor: pointer;
}
.error {
  background-color: red;
  border-radius: 10px;
  text-align: center;
  font-size: 1.1rem;
  color: white;
}
